@white: whitesmoke;
@black: black;
@grey: #5e5e5e;
@light-grey: #9c9c9c;

@purple: #5e2b7e;
@navy-blue: #003263;
@pale-blue: #d5dae8;

@green: #5a8d3e;
@light-purple: #ac769c;
@teal: #76a8b0;

@scientific: @green;
@awareness: @light-purple;
@corporate: @teal;

