/* app css stylesheet */

.header-background {
  position : absolute;
  height   : @header-height;
  width    : 100%;
  left     : 0px;
  top      : 0px;

  &.blue {
	background : @navy-blue;
  }

  &.purple {
	background : @purple;
  }

  &.green {
    background : @ugly-green;
  }

  img {
	position       : absolute;
	z-index        : 1;
	height         : 200px;
	vertical-align : top;
  }

  .header {
	display     : inline-block;
	margin      : @menu-margin;
	margin-left : @sidebar-width + 50px;
	background  : @navy-blue;
	height      : @menu-height - @menu-margin * 2;
	line-height : 40px;

	ul {
	  list-style : none;
	  margin     : 0px;
	  padding    : 0px 10px 0px 0px;

	  > li {
		display      : inline;
		line-height  : 20px;
		padding-left : 10px;

		a {
		  color : whitesmoke;
		}
	  }
	}
  }
}