<h1>Overview</h1>

<div row>
    <div column span="11">
        <p>
            This is a seed project for rapidly spinning up a new angular application with a flask backend.
        </p>

        <p>
            It includes samples of how to work with Angular, Bootstrap, Less on the client side as well as a Flask
            implementation of a RESTful API.
        </p>

        <p>
            Each of the pages shows a different aspect of Angular and globally, each page uses a series of custom
            angular directives. The "row" and "column" html tags are custom angular directives
        </p>
    </div>
</div>

