<h1>GETing Information</h1>

<p>
    This page is a demonstration of getting data from the server via ajax
</p>
<p>
    Each time you press the button it makes a GET request to the server o
</p>


<div row>
    <div column span="5" offset="1">
        <div row>
            <div column span="12" align="center">
                <button class="btn btn-primary" ng-click="getInformation()">Load Information</button>

            </div>
        </div>

        <hr>

        <div row ng-repeat="info in information">
            <div column span="6" align="right">
                <p ng-bind="info.label"></p>
            </div>
            <div column span="6">
                <strong><p ng-bind="info.value"></p></strong>
            </div>
        </div>
    </div>
</div>
